.page-title {
    h1 {
        color: #FFF;
        font-family: Rubik;
        @include adaptiv-font(40, 22);
        font-style: normal;
        font-weight: 500;
        line-height: 1.2; /* 38px */
        text-transform: capitalize;
    }
}