.catalog {
    &__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: rem(20);

        @include media(1440) {
            grid-template-columns: repeat(10, 1fr);
        }
        @include media(1229) {
            grid-template-columns: repeat(8, 1fr);
        }
        @include media(991) {
            grid-template-columns: repeat(6, 1fr);
        }
        @include media(767) {
            grid-template-columns: repeat(5, 1fr);
        }
        @include media(600) {
            grid-template-columns: repeat(4, 1fr);
        }
        @include media(520) {
            grid-template-columns: repeat(3, 1fr);
            gap: rem(10);
        }
        @include media(375) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-cars__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: rem(20);

        @include media(991) {
            grid-template-columns: repeat(5, 1fr);
        }
        @include media(767) {
            grid-template-columns: repeat(4, 1fr);
        }
        @include media(600) {
            grid-template-columns: repeat(3, 1fr);
            gap: rem(10);
        }
        @include media(440) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(10);
        padding: rem(10);
        border-radius: rem(3);
        background: #16191E;
        transition: $standartTrans;

        &:hover, &:focus {
            box-shadow: 0px 0px 5px 0px rgba(231, 66, 39, 0.10);
        }

        img {
            width: 100%;
            height: rem(100);
            object-fit: contain;
        }

        span {
            color: #FFF;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 20.8px */
            text-decoration-line: underline;
        }
    }
}